.input{
	position: absolute;
   text-align: center;
   background-color: powderblue;
   display: block;
   margin-left: 30%;
   
   }
.h1{
 	text-align: center;
 	color:blue;
 	margin-left: 40%;
 } 
.one{
	background-color: powderblue;
}
body{
	max-width: 70%;
	background-size: cover;
background-image: url("https://images.unsplash.com/photo-1545377446-446f9f6bd95b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
}
.button{
	position: static;
padding: 10px 40px;
  text-align: center;
  line-height: 30%;
  display: inline-block;
  float: right;
  background-color:blue;
  align-self: center;

}
.display{
	text-align: center;
	border:groove;
	color: blue;
	font-size: 20px;
	background-color: skyblue;
	font-weight: 40px;
	margin-left: 40%;
	margin-top: 20%;
	width:80%;
}

